{% extends "layout.html" %}
{% block content %}
    <div class="card album-card bg-black text-white">
      <div class="card-body">
        <h5 class="card-title">{{ album.title }}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark text-light">Catalog Number: {{ album.uid }}</li>
            <li class="list-group-item bg-dark text-light">Record Medium: {{ album.medium }}</li>
        </ul>
        <a href="{{ url_for('production.add', album_id=album.id) }}">
            New Program Item
        </a>
      </div>
    </div>


<h5 class="text-center pb-5">Program</h5>
{% if album.performances %}
    {% for work in album.performances %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 border">
                    Title: {{ work.title }}
                </div>
                <div class="col-3 border">
                    Composer: {{ work.composer }}
                </div>
                <div class="col border">
                    Type: {{ work.type.value.title() }}
                </div>
                <div class="col border">
                    Excerpts?
                    {% if work.highlights %}
                        &#x2705
                    {% else %}
                        &#x274C
                    {% endif %}
                </div>
                <div class="col border">
                    Tracks:
                    {% if work.tracks %}
                        {{ work.tracks[0].sequence }} - {{ work.tracks[-1].sequence }}
                    {% else %}
                        0
                    {% endif %}
                </div>
                <div class="col border">
                    <a href="{{ url_for("production.get_performance", id=work.id) }}">Credits</a>
                </div>
                <div class="col border">
                    <div class="row">
                        <a href="{{ url_for('production.edit', id=work.id) }}" class="col-1">
                            <i class="fa-solid fa-pen-to-square text-warning"></i>
                        </a>
                        <form action="{{ url_for('production.delete', id=work.id) }}" method="post" class="col-1">
                            <button type="submit" class="btn btn-link link-danger pt-0">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ url_for('track.add', performance_id=work.id) }}" class="btn btn-sm btn-primary mt-3 offset-11">Add Track</a>
        {% if work.tracks %}
        	{% for t in work.tracks %}
                <div class="row">
                    <div class="col-1 ms-auto">
                        {{ t.sequence }}
                    </div>
                    <div class="col-2">
                        {{ t.title }}
                    </div>
                    <div class="col-2">
                        {{ t.type }}
                    </div>
                    <div class="col-2 me-auto">
                        {{ t.length }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
            {#  {% if work.location %}
                <td>{{ work.location.venue }}, {{ work.location.city }}, {{ work.location.country }}</td>
            {% else %}
                <td>Unknown</td>
            {% endif %}

            <td>{{ work.date.strftime('%B %Y') }}</td> #}
    {% endfor %}
{% else %}
    <h4 class="text-danger text-center">No Records Found</h4>
{% endif %}
{% endblock %}