{% extends "layout.html" %}
{% block content %}
    {% if message %}
        <div class="text-success">
            {{ message }}
        </div>
    {% endif %}
    <h1>Recording List</h1>
    <table class="table-dark table-striped table">
        <thead>
        <tr>
            <th>Local ID</th>
            <th>Catalog Number</th>
            <th>Title</th>
            <th>Record Medium</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for a in albums %}
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.uid }}</td>
                <td>{{ a.title }}</td>
                <td>{{ a.medium }}</td>
                <td><a href="{{ url_for( 'album.get_album', id=a.id) }}">View Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}