{% extends "layout.html" %}
{% block content %}
  <h1>Add a New Recording</h1>
  <form method="POST" action="add">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.id.label(class='form-label')}}
      {{form.id(class='form-control')}}
      {% if form.id.errors %}
        <div class="text-danger">
          {% for error in form.id.errors %}
            <p>{{error}}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      {{form.title.label(class='form-label')}}
      {{form.title(class='form-control')}}
      {% if form.title.errors %}
        <div class="text-danger">
          {% for error in form.title.errors %}
            <p>{{error}}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      {{form.composer.label(class='form-label')}}
      {{form.composer(class='form-control')}}
      {% if form.composer.errors %}
        <div class="text-danger">
          {% for error in form.composer.errors %}
            <p>{{error}}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      {{form.conductor.label(class='form-label')}}
      {{form.conductor(class='form-control')}}
      {% if form.conductor.errors %}
        <div class="text-danger">
          {% for error in form.conductor.errors %}
            <p>{{error}}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      {{form.orchestra.label(class='form-label')}}
      {{form.orchestra(class='form-control')}}
      {% if form.orchestra.errors %}
        <div class="text-danger">
          {% for error in form.orchestra.errors %}
            <p>{{error}}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {{form.submit(class='btn btn-success')}}
  </form>
{% endblock content %}