{% extends "layout.html" %}
{% block content %}
  <h1>Recording List</h1>
  <table class="table-dark table-striped table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Composer</th>
      <th>Conductor</th>
      <th>Orchestra</th>
    </tr>
    </thead>
    <tbody>
    {% for opera in operas %}
      <tr>
        <td>{{ opera.title }}</td>
        <td>{{ opera.composer }}</td>
        <td>{{ opera.conductor }}</td>
        <td>{{ opera.orchestra }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}